<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongz.rental.mapper.ZhongzValidateCodeMapper">
    
    <resultMap type="ZhongzValidateCode" id="ZhongzValidateCodeResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="mobile"    column="mobile"    />
        <result property="code"    column="code"    />
        <result property="expire"    column="expire"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status1"    column="status1"    />
    </resultMap>
	
	<sql id="selectZhongzValidateCodeVo">
        select id, type, mobile, code, expire, create_by, create_time, update_by, update_time, remark, status1 from zhongz_validate_code
    </sql>
	
    <select id="selectZhongzValidateCodeList" parameterType="ZhongzValidateCode" resultMap="ZhongzValidateCodeResult">
        <include refid="selectZhongzValidateCodeVo"/>
        <where>
            status1 = '0'
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="type != null "> and type = #{type}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="code != null  and code != '' "> and code = #{code}</if>
             <if test="expire != null "> and expire = #{expire}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectZhongzValidateCodeById" parameterType="String" resultMap="ZhongzValidateCodeResult">
        <include refid="selectZhongzValidateCodeVo"/>
        where id = #{id}
    </select>

    <select id="selectZhongzValidateCode" parameterType="ZhongzValidateCode" resultMap="ZhongzValidateCodeResult">
        <include refid="selectZhongzValidateCodeVo"/>
        where mobile = #{mobile} and type = #{type} and status1 = '0'
    </select>

    <insert id="insertZhongzValidateCode" parameterType="ZhongzValidateCode">
        insert into zhongz_validate_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="type != null  ">type,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="code != null  and code != ''  ">code,</if>
			<if test="expire != null  ">expire,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="status1 != null  and status1 != ''  ">status1,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="type != null  ">#{type},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="code != null  and code != ''  ">#{code},</if>
			<if test="expire != null  ">#{expire},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="status1 != null  and status1 != ''  ">#{status1},</if>
         </trim>
    </insert>
	 
    <update id="updateZhongzValidateCode" parameterType="ZhongzValidateCode">
        update zhongz_validate_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null  ">type = #{type},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="expire != null  ">expire = #{expire},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="status1 != null  and status1 != ''  ">status1 = #{status1},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateZhongzValidateCodeByMobileAndType" parameterType="ZhongzValidateCode">
        update zhongz_validate_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="expire != null  ">expire = #{expire},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="status1 != null  and status1 != ''  ">status1 = #{status1},</if>
        </trim>
        where mobile = #{mobile} and type = #{type}
    </update>

    <update id="deleteZhongzValidateCodeById1" parameterType="String">
        update zhongz_validate_code set status1 = '1' where id = #{id}
    </update>

    <update id="deleteZhongzValidateCodeByIds1" parameterType="String">
        update zhongz_validate_code set status1 = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

	<delete id="deleteZhongzValidateCodeById" parameterType="String">
        delete from zhongz_validate_code where id = #{id}
    </delete>
	
    <delete id="deleteZhongzValidateCodeByIds" parameterType="String">
        delete from zhongz_validate_code where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>